In [20]:
import yfinance as yf
import pandas as pd
from datetime import datetime, timedelta

In [21]:

# Define the list of stock tickers
tickers = ['AAPL', 'AMZN', 'GOOG', 'META', 'MSFT', 'NVDA', 'TSLA']

In [22]:
# Calculate the start and end dates
end_date = datetime.today().strftime('%Y-%m-%d')
start_date = (datetime.today() - timedelta(days=5*365)).strftime('%Y-%m-%d')

In [23]:

data = yf.download(tickers, start=start_date, end=end_date)['Close']
data.reset_index(inplace=True)

[*********************100%***********************]  7 of 7 completed

In [24]:
print(data)

Ticker       Date        AAPL        AMZN        GOOG        META        MSFT  \
0      2020-03-30   61.837044   98.197502   57.070686  165.171524  153.368729
1      2020-03-31   61.710846   97.486000   57.866421  166.017548  150.956680
2      2020-04-01   58.463806   95.385002   55.020397  158.851334  145.596466
3      2020-04-02   59.439369   95.941498   55.777809  157.447937  148.611557
4      2020-04-03   58.585136   95.329498   54.635223  153.456757  147.242783
...           ...         ...         ...         ...         ...         ...
1252   2025-03-24  220.729996  203.259995  169.929993  618.849976  393.079987
1253   2025-03-25  223.750000  205.710007  172.789993  626.309998  395.160004
1254   2025-03-26  221.529999  201.130005  167.139999  610.979980  389.970001
1255   2025-03-27  223.850006  201.360001  164.080002  602.580017  390.579987
1256   2025-03-28  217.899994  192.720001  156.059998  576.739990  378.799988

Ticker        NVDA        TSLA
0         6.615377   33.475334
1         6.565810   34.933334
2         6.054444   32.104000
3         6.363307   30.298000
4         6.075365   32.000668
...            ...         ...
1252    121.410004  278.390015
1253    120.690002  288.140015
1254    113.760002  272.059998
1255    111.430000  273.130005
1256    109.669998  263.549988

[1257 rows x 8 columns]

In [26]:
df = pd.DataFrame(data)

print(df)

Ticker       Date        AAPL        AMZN        GOOG        META        MSFT  \
0      2020-03-30   61.837044   98.197502   57.070686  165.171524  153.368729
1      2020-03-31   61.710846   97.486000   57.866421  166.017548  150.956680
2      2020-04-01   58.463806   95.385002   55.020397  158.851334  145.596466
3      2020-04-02   59.439369   95.941498   55.777809  157.447937  148.611557
4      2020-04-03   58.585136   95.329498   54.635223  153.456757  147.242783
...           ...         ...         ...         ...         ...         ...
1252   2025-03-24  220.729996  203.259995  169.929993  618.849976  393.079987
1253   2025-03-25  223.750000  205.710007  172.789993  626.309998  395.160004
1254   2025-03-26  221.529999  201.130005  167.139999  610.979980  389.970001
1255   2025-03-27  223.850006  201.360001  164.080002  602.580017  390.579987
1256   2025-03-28  217.899994  192.720001  156.059998  576.739990  378.799988

Ticker        NVDA        TSLA
0         6.615377   33.475334
1         6.565810   34.933334
2         6.054444   32.104000
3         6.363307   30.298000
4         6.075365   32.000668
...            ...         ...
1252    121.410004  278.390015
1253    120.690002  288.140015
1254    113.760002  272.059998
1255    111.430000  273.130005
1256    109.669998  263.549988

[1257 rows x 8 columns]

In [28]:
print(df.columns)

Index(['Date', 'AAPL', 'AMZN', 'GOOG', 'META', 'MSFT', 'NVDA', 'TSLA'], dtype='object', name='Ticker')

In [29]:
df.set_index('Date', inplace=True)
print(df.head())

Ticker           AAPL       AMZN       GOOG        META        MSFT      NVDA  \
Date
2020-03-30  61.837044  98.197502  57.070686  165.171524  153.368729  6.615377
2020-03-31  61.710846  97.486000  57.866421  166.017548  150.956680  6.565810
2020-04-01  58.463806  95.385002  55.020397  158.851334  145.596466  6.054444
2020-04-02  59.439369  95.941498  55.777809  157.447937  148.611557  6.363307
2020-04-03  58.585136  95.329498  54.635223  153.456757  147.242783  6.075365

Ticker           TSLA
Date
2020-03-30  33.475334
2020-03-31  34.933334
2020-04-01  32.104000
2020-04-02  30.298000
2020-04-03  32.000668

In [30]:
df.to_csv('stocks.csv')